body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
}

.container {
  display: block;
  background-color: #becbd6;
  margin: 12px;
  padding: 12px;
  padding-top: 0px;
  border-radius: 6px;
  flex-basis: 50%;
  max-width: 300px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
}

.row textarea,input {
  flex-grow: 1;
}

.column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
}

.container h1 {
  font-family: "Playwrite PL", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #d4af37;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: #687387;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;

  clear: both;
}

.cloudwatch iframe {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.broken {
  background-color: #cc5500;
}
