[Unit]
Description=a little iot island

[Service]
User=pi
WorkingDirectory=/home/pi/islands
ExecStart=npm run start
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
