[Unit]
Description=a little MQTT service

[Service]
User=pi
WorkingDirectory=/home/pi/m-cutie-t
ExecStart=npm run start
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
